:root {
  --main-btn-bg-lightgray: rgb(233, 233, 233);
  --main-btn-bg-lightgray-hover: rgb(211, 211, 211);

  font-family: Roboto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon.menu {
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;

  &:hover {
    background-color: var(--main-btn-bg-lightgray-hover);
  }
}

.main-btn {
  background-color: var(--main-btn-bg-lightgray);
  border: none;

  &:hover {
    background-color: var(--main-btn-bg-lightgray-hover);
    cursor: pointer;
  }
}

.logo-link {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 16px;

  .header-start,
  .header-center,
  .header-end {
    display: flex;
    align-items: center;
    flex: 1 1 0;
  }
  .header-start {
    gap: 4px;
  }

  .header-center {
    flex: 0 1 732px;
  }

  .header-end {
    justify-content: end;
    gap: 8px;
  }
}

.logo-img {
  width: 120px;
}

.search-bar {
  margin-right: 16px;
  flex: 1;

  .search-border {
    border: 1px solid var(--main-btn-bg-lightgray);
    border-radius: 24px 0 0 24px;
    padding: 6px 10px;
    gap: 8px;
    flex: 1;
    position: relative;
    transition: all 0.3s ease;
  }

  .search-btn {
    border-radius: 0 24px 24px 0;
    height: 40px;
    width: 64px;
  }
}

.search-bar,
.search-border {
  display: flex;
  align-items: center;
  height: 40px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.search-show {
  position: absolute;
  left: -24px;
  opacity: 0;
}

.search-border:focus-within {
  border: 1px solid rgb(0, 110, 255);
  padding-left: 48px;

  .search-show {
    left: 6px;
    opacity: 1;
  }
}

.mic-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.more-btn {
  background-color: transparent;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: var(--main-btn-bg-lightgray-hover);
  }
}

.signin-btn {
  color: rgb(0, 110, 255);
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--main-btn-bg-lightgray);
  background-color: transparent;
  height: 36px;
  padding: 0 12px;
  border-radius: 24px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background-color: rgb(224, 240, 255);
  }
}

.content {
  display: flex;
  gap: 16px;
}

aside {
  padding: 16px 0;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  flex: 0 0 240px;
}

.aside-tabs {
  padding: 0 16px;
}

.tab-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 16px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;

  &:hover {
    background-color: #f2f2f2;
  }
}

.tab-btn.selected {
  background-color: #f2f2f2;
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: #e5e5e5;
  flex-shrink: 0;
}

.tab-text {
  margin: 0 16px;
}

.sign-in-tabs .tab-text {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .signin-btn {
    align-self: flex-start;
  }
}

h3.tab-text {
  margin-bottom: 8px;
  font-weight: 500;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    font-size: 12px;
    color: #909090;
  }
}

.info-links {
  list-style: none;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 8px;
    margin-bottom: 3px;
  }

  li > a {
    text-decoration: none;
    color: #606060;
    font-weight: 500;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  min-width: 0;
}

.top-tabs {
  display: flex;
  gap: 12px;
  padding: 16px 0;
  overflow: hidden;
  overflow-x: auto;
}

.top-tab-btn {
  background-color: #f2f2f2;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  color: #000;
  white-space: nowrap;
  font-weight: 500;
}

.top-tab-btn.selected {
  background-color: #000;
  color: #fff;
}

.vid-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.videos-row {
  display: flex;
  gap: 16px;
  width: 100%;
}

.video-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  cursor: pointer;
  gap: 10px;
  min-width: 0;
}

.video-thumb {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.video-info {
  display: flex;
  gap: 12px;
}

.channel-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.channel-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1 1 auto;
}

.video-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

.channel-name,
.video-stats {
  font-size: 13px;
  color: #606060;
}

.short-head {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  margin-bottom: 12px;
}
